@charset "UTF-8";
/* 폰트 불러오기 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css); 
/* 폰트 Weight ExL 100, L 300, R 400, M 500, B 700, H 900 */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900');
/* 폰트 Weight ExL 200, L 300, R 400, SeB 600, B 700, ExB 800, BK 900 */

/* reset, common ==================================================================================== */
*{margin: 0; padding: 0;}
body{
    font-family: 'Noto Sans KR', Dotum, sans-serif;
    font-size: 13px;
}
a{
    text-decoration: none;
    color: #000;
}
li{list-style: none;}
em{font-style: normal;}
button{border: none; outline: none; background: none; cursor: pointer;}
.blind{position: absolute; left: -9999px; font-size: 0;}
.container{max-width: 1180px; margin: auto;}
.row::after{content: ''; display: block; overflow: hidden; clear: both;}

/* sprites & icons */
.material-icons{font-size: 32px;}
.sp{display: inline-block; background: url(../img/sprite.png) no-repeat;}
.sp-blog{width: 22px; height: 22px; background-position: 0 0;}
.sp-instagram{width: 22px; height: 22px; background-position: -22px 0;}
.sp-facebook{width: 22px; height: 22px; background-position: -44px 0;}
.sp-quick-menu1{width: 105px; height: 105px; background-position: 0 -100px;}
.sp-quick-menu2{width: 105px; height: 105px; background-position: -120px -100px;}
.sp-quick-menu3{width: 105px; height: 105px; background-position: -240px -100px;}
.sp-quick-menu4{width: 105px; height: 105px; background-position: -360px -100px;}
.sp-culture-icon1{width: 105px; height: 105px; background-position: 0 -300px;}
.sp-culture-icon2{width: 105px; height: 105px; background-position: -120px -300px;}
.sp-culture-icon3{width: 105px; height: 105px; background-position: -240px -300px;}


/* header{outline: 1px solid blue;}
.container{outline: 1px solid red;} */

/* header =================================================================================== */
header{
    position: fixed;
    width: 100%; height: 130px;
    background: #fff;
    z-index: 100;

}
header h1{
    position: absolute;
    top: 70px;
    padding-left: 10px;
}
header .site{
    float: left;
    margin: 10px 0 0 10px;
}
header .site li{
    float: left;
    margin-right: 17px;
    padding-right: 18px;
    background: url(../img/util_line.gif) no-repeat right;
}
header .site li:last-child{
    background: none;
}
header .site li a{
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #848484;
}
header .site li.on a{
    color: #1d326c;
}

#btn-menu{display: none;}

/* util(members/sns/language) */

header nav .util{
    float: right;
    margin :10px 10px 0 0;
}
header nav .util .members{
    float: left;
}
header nav .util .members li{
    float: left;
    line-height: 30px;
    height: 30px;
    margin-left: 17px;
    padding-left: 18px;
    background: url(../img/util_line.gif) no-repeat left;
}
header nav .util .members li:first-child{
    background: none;
}
header nav .util .members li a{
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    color: #848484;
}

header nav .util .sns{
    float: left;
    margin: 4px 10px 0 0;
}
header nav .util .sns li{
    float: left;
    margin-left: 10px;
}
header nav .util .language{
    position: relative;
    float: left;
    width: 160px;
    background: #fff;
}
header nav .util .language>a{
    position: relative;
    display: block;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    border: 1px solid #d9d9d9;
    padding-left: 20px;
    box-sizing: border-box;
    color: #848484;
}
header nav .util .language>a::after{
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    width: 28px;
    height: 28px;
    background: url(../img/language_arrow.gif)no-repeat center;
    transition: 0.5s;
}

header nav .util .language>a.active::after{
    transform: rotate(180deg);
}

header nav .util .language ul{
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-top: 0;
    box-sizing: border-box;
    background: #fff;
}
header nav .util .language ul li a{
    display: block;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    color: #848484; 
}


/* gnb */

header nav .gnb{
    clear: both;
    display: inline-block;
    transform: translate(240px, 40px);
    height: 23px;
    font-family: 'Nunito Sans', sans-serif;
}
header nav .gnb>li{
    float: left;
}
header nav .gnb>li>a{
    display: block;
    padding: 0 46px;
    margin-bottom: 25px;
    font-size: 16px;
}
header nav .gnb>li>a>span{
}
header nav .gnb>li>a>span::after{
    content: '';
    display: block;
    width: 0%;
    height: 4px;
    margin: auto;/* 중앙에서 양쪽으로 균등하게 퍼지게 하려면 margin auto주기*/
    background: #000000;
    transition: width 0.2s;
}
header nav .gnb>li:hover>a>span::after{
    width: 100%;
}
header nav .gnb>li>a i{display: none;}
/* 2depth */
header nav .gnb .sub{
    overflow: hidden;
    height: 0;
    transition: height 0.3s;
}

header nav .gnb:hover .sub{
    height: 200px;
}
header nav .gnb-bg{
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 130px;
    left: 0;
    height: 0;
    border-bottom: 2px solid transparent;
    transition: height 0.3s border-bottom 0.3s;
    background: #fff;
}
header nav .gnb:hover+.gnb-bg{
    height: 200px;
    border-bottom: 2px solid #000;
}

header nav .gnb .sub li a{
    display: block;
    height: 30px;
    line-height: 30px;
    margin-left: 46px;
    color: #848484; 
}
header nav .gnb .sub li a:hover{
    color: #464646;
}

.find-store, .language-m{display: none;}

/* scroll했을때 규칙 */
.scroll header{
    height: 62px;
    border-bottom: 1px solid #d9d9d9;
}
.scroll header h1{
    top: 11px;
}
.scroll header .site,
.scroll header .util{
    display: none;
}
.scroll header nav .gnb{
    transform: translate(240px, 20px);
}
.scroll header nav .gnb-bg{
    top: 60px;
}

/* quick menu & quick event ========================================= */
.quick-menu{
    z-index: 50;
    position: fixed;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}
.quick-menu li{
    margin: 10px 0;
}
.quick-menu li a{
    display: block;
}

.quick-event{    
    z-index: 25;
    position: fixed;
    top: 170px;
    left: 25px;
}
.quick-event button{
    position: absolute;
    top: 0; left: 0;
    color: #2ca2dc;
}

.scroll .quick-event{
    top: 110px;
}

/* section ***********************************************************/
section{
    padding-top: 130px;
}

.scroll section{
    padding-top: 63px;
}

/* main-slide =========================================== */

.main-slide{
    height: 100%;
}
img{width: 100%;}
#play-state{
    cursor: pointer;
    position: absolute;
    left:50%; 
    bottom:15px;
    transform: translateX(-50%);    
    z-index: 1;
    border:none;
    outline: none;
    background: none;
    font-size: 18px;
    color:#007aff;
  }
  .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background: #ccc;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background: #007aff;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction{
    width: auto;
    left:50%; 
    transform: translateX(-50%);
  }

/* main-beanist ============================================ */
.main-beanist{
    padding: 70px 0;
    background: url(../img/main_beanist_bg.gif) no-repeat center #052e6b;
}

.main-beanist .container{
    overflow: hidden;
    
}
.main-beanist h2{
    float: left;
    margin: 0 100px 0 50px;
}
.main-beanist h2 span{
    display: block;
    margin-top: 12px;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
}
.main-beanist .text-box{
    color: #fff;
}
.main-beanist .text-box p{
    font-size: 15px;
    line-height: 1.5em;
    color: #fff;
}
.main-beanist .text-box p span{
    display: block;
}
.main-beanist .text-box a{
    display: inline-block;
    margin-top: 20px;
    line-height: 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.main-beanist .text-box a i{
    font-size: 20px;
    vertical-align: middle;
}


/* main-coffee ====================== */

.main-coffee{
    height: 800px;
    background: url(../img/main_coffee_bg.jpg) no-repeat center;
    text-align: center;
}
.main-coffee h2{
    padding-top: 110px;
    color: #3c3c3c;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 42px;
    font-weight: 100;

}
.main-coffee h2 em{
    color: #243c86;
    font-weight: 900;
}
.main-coffee h2::after{
    content: '';
    display: block;
    margin: 50px auto 0;
    width: 100px; height: 1px;
    background: #3c3c3c;
}
.main-coffee p{
    margin: 50px 0 45px 0;
    color: #3c3c3c;
    font-size: 26px;
    font-weight: 100;
    font-family: '나눔스퀘어', NanumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', Dotum;
}
.main-coffee a{
    display: inline-block;
    width: 188px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #b8bfd4;
    color: #233e83;
    font-size: 15px;
    font-weight: 500;
}
.main-coffee a:hover{
    border-color: #233e83;
    background: #233e83;
    color: #fff;
}


/* main-culture */
.main-culture{
    height: 800px;
    background: url(../img/main_culture_bg.jpg) no-repeat center right fixed;
    background-size: cover;
    text-align: center;
}
.main-culture h2{
    padding-top: 110px;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 42px;
    font-weight: 100;
}
.main-culture h2 em{
    font-weight: 900;
}
.main-culture p{
    margin-top: 0 0 45px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 100;
    font-family: '나눔스퀘어', NanumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', Dotum;
}
.main-culture p:after{
    content: '';
    display: block;
    margin: 50px auto 0;
    width: 100px; height: 1px;
    background: #1f76e4;
}
.main-culture .culture-icon{
    margin-top: 106px;
    background: url(../img/main_culture_line.png) no-repeat center top;
}
.main-culture .culture-icon ul{
    width: 100%;
    max-width: 975px;
    margin: auto;
}
.main-culture .culture-icon ul li{
    opacity: 0;
    float: left;
    width: 33.33%;
}
.main-culture .culture-icon ul li:nth-child(1){
    margin-top: 106px;
}
.main-culture .culture-icon ul li:nth-child(2){
    margin-top: 38px;
}
.main-culture .culture-icon ul li:nth-child(3){
    margin-top: 118px;
}
.main-culture .culture-icon ul li a{
    display: inline-block;
    min-width: 105px;
    font-size: 18px;
    color: #fff;
    font-weight: 100;
    color: #FFF;
}
.main-culture .culture-icon ul li a:hover{
    animation: up-down 1.5s linear infinite;
}
.main-culture .culture-icon ul li a i{
    display: block;
    margin: 0 auto 10px;
}

/* main-coffee-lab */
.main-coffee-lab{
    text-align: center;
}
.main-coffee-lab h2{
    padding-top: 110px;
    color: #3c3c3c;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 42px;
    font-weight: 100;
}
.main-coffee-lab h2 em{
    font-weight: 900;
}
.main-coffee-lab p{
    margin: 13px 0 40px;
    color: #3c3c3c;
    font-size: 26px;
    font-weight: 100;
    font-family: '나눔스퀘어', NanumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', Dotum;
    text-align: center;
}
.main-coffee-lab p::after{
    content: '';
    display: block;
    margin: 50px auto 0;
    width: 100px; height: 1px;
    background: #3c3c3c;
}
.main-coffee-lab .lab-box{
    overflow: hidden;
}
.main-coffee-lab .lab-box .lab-menu{
    z-index: 1;
    float: left;
    overflow: hidden;
    position: relative;
    /* 100%에서 53+53=106% 이므로 오른쪽 컨텐츠가 아래쪽으로 내려간다. */
    width: 53%;
    /* 최소 6% 만큼은 여백으로 빼주어야 오른쪽 컨텐츠가 다시 올라온다. */
    margin-right: -6%;
    opacity: 0;
} 
.main-coffee-lab .lab-box .lab-barista{
    overflow: hidden;
    float: right;
    position: relative;
    width: 53%;
    margin-top: 80px;
    opacity: 0;
    
}
.main-coffee-lab .lab-box img{
    display: block;
    width: 100%;
    transition: 0.5s;
}
.main-coffee-lab .lab-box span{
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 100%;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 0.2em;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}
.main-coffee-lab .lab-box span::after{
    content: '';
    display: block;
    position: relative;
    height: 6px;
    margin: 14px auto 0;
    background: #ffffff;
}
.main-coffee-lab .lab-box .lab-menu span::after{
    width: 105px;
}
.main-coffee-lab .lab-box .lab-barista span::after{
    width: 140px;
}
.main-coffee-lab .lab-box [class^="lab-"]:hover img{
    transform: scale(1.05);
}
.main-coffee-lab .lab-box [class^="lab-"]:hover span::after{ 
    animation: lab-bar 0.5s linear 0s;
}



/* main-notice */

.main-notice{
    position: relative;
}
.main-notice::after{
    z-index: -10;
    content: '';
    position: absolute;
    width: 100%; height: 560px;
    top: -280px; left: 0;
    background: #efefef;
}
.main-notice .container{
    overflow: hidden;
    margin-top: 110px;
}

.main-notice .franchise{
    background: url(../img/main_franchise_bg.jpg) no-repeat;
}
.main-notice .store{
    background: url(../img/main_store_bg.jpg) no-repeat;   
}

.main-notice .box{
    float: left;
    width: 30%;
    height: 330px;
    margin-right: 1%;
    padding: 44px 35px 0 35px;
    box-sizing: border-box;
    background-size: cover;
}
.main-notice .franchise a{
    display: block;
    height: 100%;
}
.main-notice .box h2{
    color: #fff;
    line-height: 22px;
    font-weight: 600;
    font-size: 22px;
    font-family: '나눔스퀘어', NanumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', Dotum;
}
.main-notice .box h2::after{
    content: '';
    display: block;
    width: 42px; height: 1px;
    margin-top: 13px;
    background: #FFF;
}
.main-notice .box p{
    margin-top: 27px;
    line-height: 1.4em;
    font-size: 17px;
    color: #FFF;
    font-family: '나눔스퀘어', NanumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', Dotum;
}

.main-notice .store p span{
    display: block;
}

.main-notice .store form{
    position: relative;
    max-width: 320px; 
    margin-top: 35px;
}
.main-notice .store form input{
    width: 100%; 
    height: 44px;
    padding: 0 40px 0 20px;
    border: 3px solid #fff;
    box-sizing: border-box;
    background: #1c3269;
    color: #fff;
    font-size: 14px;
}
.main-notice .store form input::placeholder{
    color: #fff;
}

.main-notice .store form button{
    position: absolute;
    right: 5px; top: 6px;
    color: #fff;
}

.main-notice .notice{
    position: relative;
    float: left;
    width: 38%;
    height: 330px;
}
.main-notice .notice .news{
    padding: 0 10px;
}
.main-notice .notice .news h2{
    margin-bottom: 21px;
    color: #202023;
    font-size: 22px;
    font-weight: 400;
}
.main-notice .notice .news ul li{
    margin-bottom: 5px;
}
.main-notice .notice .news ul li a{
    color: #7d7d7e;
    font-size: 15px;
}
.main-notice .notice .news ul li span{
    float: right;
    margin-top: 2px;
    color: #a4a4a5;
    font-size: 13px;
}
.main-notice .notice .news .more{
    position: absolute;
    right: 5px; top: 7px;
    color: #a4a4a5;
}
.main-notice .notice .news .more i{
    font-size: 20px;
    vertical-align: text-top;
}

.main-notice .notice .brochure{
    position: relative;
    height: 161px;
}
.main-notice .notice .brochure::after{
    content: '';
    position: absolute;
    bottom: 30px; right: 0;
    width: 45%; height: 161px;
    background: url(../img/main_brochure_bg.png) no-repeat right bottom;
}
.main-notice .notice .brochure a{
    z-index: -1;
    position: relative;
    display: block;
    height: 134px;
    margin-top: 26px;
    padding: 36px 0 0 35px;
    box-sizing: border-box;
    background: #cbc3b2;
}
.main-notice .notice .brochure a span{
    display: block;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
}
.main-notice .notice .brochure a i{
    margin-left: -5px;
    color: #fff;
    font-size: 45px;
}

/* main-sns */

.main-sns{
    text-align: center;
 }
 .main-sns h2{
    padding-top:100px;
    color:#3c3c3c;
    line-height: 1.7em;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    font-weight: 800;
 }
 .main-sns h2::after{
    content: '';
    display: block;
    margin: auto;
    width: 42px; height: 1px;
    background: #3c3c3c;
    margin-top: 27px;
 }
 .main-sns p{
    margin-top:10px;
    color:#3c3c3c;
    font-size: 22px;
    font-weight: 100;
 }
 .main-sns ul{
    max-width: 1180px;
    margin-top: 100px;
    width: 100%;
    overflow: hidden;
 }
 .main-sns ul li{
    float: left;
    width: 20%;
    padding: 0 4px 5px;
    box-sizing: border-box;
 }
 .main-sns ul li a{
    display: inline-block;
 }
 .main-sns ul li a img{
    width: 100%;
 }
 
 /* footer ==================================================== */
 
 footer{
    margin-top: 100px;
    background: #262626;
    text-align: center;
 }
 footer ul{
    overflow: hidden;
    padding: 16px 0;
    border-bottom: solid 1px #464646;
 }
 footer ul li{
    display: inline-block;
    margin: 3px 19px;
 }
 footer ul li a{
    color: #818181;
    font-family: 'Noto Sans KR', '나눔고딕', NanumGothic, '맑은 고딕', MalgunGothic, '돋움', Dotum, sans-serif;
    font-size: 13px;
    line-height: 1.7em;
 }
 footer ul li.active a{
    color: #FFF;
    font-weight: 400;
 }
 
 .footer-ccm{
    position: relative;
    margin: 40px 0 24px;
    width: 100%;
    height: 45px;
 }
 .footer-ccm img{
    position: absolute;
    bottom: 0;
 }
 .footer-ccm img.footer-logo{
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
 }
 .footer-ccm>img.ccmimg{
    width: 170px;
    right: 0;
 }
 
 .footer-info{
    text-align: center;
    max-width: 1000px;
    margin: auto;
 }
 .footer-info .ediya-info span{ 
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    background: url(../img/footer_line.gif) no-repeat right;
    font-size: 12px;
    color: #818181;
    line-height: 1.7em;
    font-family: 'Noto Sans KR', '나눔고딕', NanumGothic, '맑은 고딕', MalgunGothic, '돋움', Dotum, sans-serif;
 }
 .footer-info .ediya-info span:last-child{
    background: none;
 }
 .footer-info .copy{
    margin-top: 14px;
    padding-bottom: 35px;
    font-size: 12px;
    color: #818181;
    line-height: 1.7em;
    font-family: 'Noto Sans KR', '나눔고딕', NanumGothic, '맑은 고딕', MalgunGothic, '돋움', Dotum, sans-serif;
 }
 
 

/* animation ======================================= */

@keyframes up-down{
    from,to{transform: translateY(0);}
    50%{transform: translateY(-10px);}
}

.fadeInUp.on{
    animation: fadeInUp 1.5s linear forwards;
}

@keyframes fadeInUp{
    from{transform: translateY(100px); opacity: 0;}
    to{transform: translateY(0); opacity: 1;}
}

@keyframes lab-bar{
    from{transform: scaleX(0);}
    to{transform: scaleX(1);}
}